
<%= @stocks.count %>

<% @stocks.each do |stock| %>
<h3><%= stock.id %></h3>
<h3><%= stock.twit_id %></h3>
<h3><%= stock.symbol %> </h3>
<h3><%= stock.name %> </h3>
<h3><%= stock.last_seen %></h3>
<br><br>
<% end %>

